        /* Mobil */

#container {
overflow: auto;
margin: 0 auto;
}

a:link { color: rgba(159, 172, 127, 1); }
a:visited { color: rgba(159, 172, 127, 1); }


#contactPage {
    margin-top: 0px;
    margin-left: 0px;
}

#meny {
    list-style: none;
    padding: 0;
    margin: 0;
}

#tooSmallScreenPrompt{
    display: none;
    font-family: "SourceSansLight";
    font-size: 20px;
    text-align: center;
    color: rgba(214, 217, 199, 1);
    margin-top: 300px;
    width: 400px;
}

 nav img{
    width: 130px;
    height: 130px;
    float: left;
    display: block;
    background: transparent;
}

body {
    font-family: Helvetica, sans-serif;
    background-image: url('../pics/backgroundWood.jpg');
}

    #book {
        display: none;
    }
    
    #book img {
        display: none;
    }

    #boken {
        display: none;
    }

    #sophieBild {
    display: none;
    }
    
    #bloggbok {
    display: none;
    }
    
    #kaffeMugg {
    display: none;
    }
    
    #kontaktFram {
    display: none;
    }

    #kontaktBak {
    display: none;
    }
/* Font */

@font-face {
    font-family: SourceSans;
    src: url(../fonts/SourceSansPro-Semibold.otf);
}

@font-face {
    font-family: SourceSansLight;
    src: url(../fonts/SourceSansPro-Light.otf);
}

@font-face {
    font-family: SourceSansBold;
    src: url(../fonts/SourceSansPro-Bold.otf);
}

/* Större skärmar */

@media only screen and (min-width:780px){

    #tooSmallScreenPrompt {
        display: none;
    }
    
    .menyn {
        padding-top: 10px;
    }
    
    #meny {
        float: right;
        margin-top: none;

    }
    
            /* Boken */
            
    #book img {
        display: block;
        margin-left: 40px;
        width: 214px;
        height: 150px;
        margin-top: 10px;
        float: left;
    }
    
    #book img:nth-child(2) {
        margin-top: 0px;
        float: right;
        width: 214px;
        margin-right: 50px;
    }
    
    body, h2, p {
    margin: 0;
    padding: 0;
    }
    
    #book {
    display: block;
    background: url("../jquery/bakbook.png");
    background: url("../jquery/book.png") no-repeat;
    position: absolute;
    width: 1499px;
    height: 469px;
    left: 30%;
    top: 45%;
    margin-left: -400px;
    margin-top: -125px;
    }
    
    
    
    #pages section {
    background: url("../jquery/paper.png") no-repeat;
    display: block;
    width: 450px;
    height: 308px;
    position: absolute;
    left: 515px;
    top: 5px;
    overflow: hidden;
    }
    
    #pages section>div {
    display: block;
    width: 480px;
    height: 500px;
    font-size: 12px;
    }
    
    
    #pages section p,
    #pages section h2 {
    padding: 3px 35px;
    line-height: 1.4em;
    text-align: justify;
    }
    
    
    #pages section h2{
    margin: 15px 0 10px;
    }
    
    #pageflip-canvas {
    position: absolute;
    z-index: 100;
    }
    
}

        /* Startsida Bilder */

    #boken {
    display: block;
    width: 761px;
    height: 469px;
    float: left;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 150px;
    }

    #sophieBild {
        display: block;
        width: 250px;
        height: 250px;
        float: right;
        margin-top: 50px;
    }
    
    #bloggbok {
        display: block;
        float: right;
        width: 341px;
        height: 469px;
        margin-top: 120px;
        margin-right: 250px;
    }
    
    #kaffeMugg {
        display: block;
        width: 281px;
        height: 250px;
        float: right;
        margin-top: 100px;
        margin-left: 0px;
    }
    
    #kontaktFram {
        display: block;
        width: 200px;
        height: 300px;
        float: left;
        margin-left: 150px;
        margin-top: 50px;
    }

    #kontaktBak {
        display: block;
        width: 200px;
        height: 300px;
        float: left;
        margin-left: 50px;
        margin-top: 50px;
    }

        /* Kontakt */
        
    #contactPage {
        margin-top: 100px;
        display: block;
        background-image: url(../pics/contactsida.png);
        background-repeat: no-repeat;
        width: 526px;
        height: 832px;
        float: left;
        margin-left: 200px;
    }
    
    #contactPage img {
        width: 100px;
        height: 100px;
        float: left;
        margin-top: 100px;
        margin-left: 100px;
    }
    
    #contactPage p {
        font-family: "SourceSansLight";
        float: left;
        margin-top: 100px;
        margin-left: 160px;
        font-size: 25px;
    }
    
    #contactPage p:nth-child(3)
    {
        font-size: 20px;
        margin-left: 100px;
        text-align: center;
    }
    
    #contactPage h1 {
        font-family: "SourceSans";
        float: left;
        margin-left: 190px;
        margin-top: 100px;
        font-size: 40px;
    }
    
    #userform {
        float: left;
        margin-top: 100px;
        margin-left: 200px;
        font-family: "SourceSansLight";
        color: White;
    }

        /* Workbook/Blogg */
        
    .blogPost {
        display: block;
        background: url(../pics/workbooksida1.png);
        background-repeat: no-repeat;
        width: 700px;
        height: 600px;
        background-position: center;
        margin-top: 10%;
    }
    
    .blogPost ul {
        list-style: none;
    }
    
    .blogPost img {
        height: 100px;
        width: 220px;
        float: right;
        margin-top: 30px;
    }
    
    .blogPost p {
        width: 350px;
        float: left;
        margin-left: 300px;
        margin-top: 30px;
        font-family: "SourceSansLight";
        
    }
    
    .blogPost h1 {
        float: right;
        margin-right: 120px;
        font-family: "SourceSans";
    }
    
    .blogMenu {
        display: block;
        position: relative;
        left: 211px;
        top: -400px;
        float: right;
    }

        /* Presentation */
        
    #sophieBildPresentation {
        height: 400px;
        width: 400px;
        float: left;
        margin-top: 200px;
        margin-left: 100px;
    }
    
    #presentationDiv {
        display: block;
        background: url(../pics/paperabout.png);
        background-repeat: no-repeat;
        width: 700px;
        height: 900px;
        background-position: center;
        float: left;
        margin-left: 200px;
        margin-top: 50px;
    }
    
    #presentationDiv p {
        width: 450px;
        float: right;
        margin-right: 130px;
        margin-top: 50px;
        font-family: "SourceSansLight";
        
    }
    
    #presentationDiv h1 {
        font-family: "SourceSans";
        width: 400px;
        float: right;
        margin-top: 200px;
    }


        /* Mindre skärmar */
        
@media only screen and (max-width:1320px){
    
    #boken {
    width: 700px;
    height: 469px;
    float: left;
    }
    
    #tooSmallScreenPrompt {
        display: block;
    }
}

@media only screen and (max-width: 1120px){
    #meny
    {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
    }
    
    .blogMenu {
        display: none;
    }

    .blogPost {
        margin-top: 200px;
    }
    
    #tooSmallScreenPrompt {
        display: block;
    }
    
    #boken {
    width: 700px;
    height: 469px;
    float: left;
    margin-top: 200px;
    }
    
    #presentationDiv {
        background: none;
    }
    
    #presentationDiv h1 {
        color: white;
        float: left;
        text-align: center;
        margin-top: 50px;
    }

    #presentationDiv p {
        color: white;
        text-align: center;
        float: left;
    }
    
    #sophieBildPresentation {
        margin-top: 50px;
    }
    
}

