/* Större skärmar */

@media only screen and (min-width:481px){
    body {
        display: none;
    }
    
}

#container {
    overflow: auto;
    margin: 0 auto;
}

#meny {
    list-style: none;
}

nav img{
    width: 150px;
    height: 150px;
    float: left;
}
