        /* Mobil */

#container {
overflow: auto;
margin: 0 auto;
}

#meny {
    list-style: none;
    padding: 0;
    margin: 0;
}


 nav img{
    width: 130px;
    height: 130px;
    float: left;
    display: block;
    background: transparent;
}

body {
    font-family: Helvetica, sans-serif;
    background-image: url('../pics/backgroundWood.jpg');
}
    #boken {
        display: none;
    }

    #sophieBild {
    display: none;
    }
    
    #bloggbok {
    display: none;
    }
    
    #kaffeMugg {
    display: none;
    }
    
    #kontaktFram {
    display: none;
    }

    #kontaktBak {
    display: none;
    }


/* Större skärmar */

@media only screen and (min-width:780px){
    body {
       
    }
    
    .menyn {
        padding-top: 10px;
    }
    
    #meny {
        float: right;
        margin-top: none;
    }
    
            /* Boken */
    
    body, h2, p {
    margin: 0;
    padding: 0;
    }
    
    #book {
    background: url("../jquery/book.png") no-repeat;
    position: absolute;
    width: 1499px;
    height: 469px;
    left: 30%;
    top: 35%;
    margin-left: -400px;
    margin-top: -125px;
    }
    
    
    
    #pages section {
    background: url("../jquery/paper.png") no-repeat;
    display: block;
    width: 750px;
    height: 469px;
    position: absolute;
    left: 753px;
    top: 5px;
    overflow: hidden;
    }
    
    #pages section>div {
    display: block;
    width: 700px;
    height: 500px;
    font-size: 12px;
    }
    
    
    #pages section p,
    #pages section h2 {
    padding: 3px 35px;
    line-height: 1.4em;
    text-align: justify;
    }
    
    
    #pages section h2{
    margin: 15px 0 10px;
    }
    
    #pageflip-canvas {
    position: absolute;
    z-index: 100;
    }

        /* Startsida Bilder */

    #boken {
    display: block;
    width: 900px;
    height: 469px;
    float: left;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 150px;
    }

    #sophieBild {
        display: block;
        width: 250px;
        height: 250px;
        float: right;
        margin-top: 50px;
    }
    
    #bloggbok {
        display: block;
        float: right;
        width: 400px;
        height: 469px;
        margin-top: 120px;
        margin-right: 150px;
    }
    
    #kaffeMugg {
        display: block;
        width: 250px;
        height: 250px;
        float: right;
        margin-top: 100px;
        margin-left: 0px;
    }
    
    #kontaktFram {
        display: block;
        width: 200px;
        height: 300px;
        float: left;
        margin-left: 150px;
        margin-top: 50px;
    }

    #kontaktBak {
        display: block;
        width: 200px;
        height: 300px;
        float: left;
        margin-left: 50px;
        margin-top: 50px;
    }
}

        /* Mindre skärmar */
        
@media only screen and (max-width:1320px){
    
    #boken {
    width: 700px;
    height: 469px;
    float: left;
    }
}

@media only screen and (max-width: 1120px){
    #meny
    {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
    }
    
    #boken {
    width: 700px;
    height: 469px;
    float: left;
    margin-top: 200px;
    }
}

